html, body {
    height: 100%;
}

#root {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    z-index: 1000;
}
